# OS files
.DS_Store
Thumbs.db
desktop.ini

# Editor / Temp files
.vscode/
.idea/
*markpad-tmp*
.*.markpad-tmp*

# Node (only if you later add a build step)
node_modules/

# Markdown documentation (kept locally only)
*.md
